<!-- Banner -->
<section>
  <div class="dark:bg-violet-600">
    <div
      class="container flex flex-col items-center px-4 py-16 pb-24 mx-auto text-center lg:pb-56 md:py-32 md:px-10 lg:px-32 dark:text-gray-50"
    >
      <h1
        class="text-5xl font-bold leading-none sm:text-6xl xl:max-w-3xl dark:text-gray-50"
      >
        Provident blanditiis cum exercitationem
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12 xl:max-w-3xl dark:text-gray-50">
        Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab
        amet vero eaque explicabo!
      </p>
      <div class="flex flex-wrap justify-center">
        <button
          type="button"
          class="px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-gray-100 dark:text-gray-900"
        >
          Get started
        </button>
        <button
          type="button"
          class="px-8 py-3 m-2 text-lg border rounded dark:border-gray-300 dark:text-gray-50"
        >
          Learn more
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Products -->
<section class="py-6 sm:py-12 dark:text-gray-800">
  <div class="container p-6 mx-auto space-y-8">
    <div class="space-y-2 text-center">
      <h2 class="text-3xl font-bold mb-10">Popular products</h2>
    </div>
    <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
      <article class="flex flex-col dark:bg-gray-50" *ngFor="let d of products">
        <a
          rel="noopener noreferrer"
          [routerLink]="['/product', d.id]"
          aria-label="Te nulla oportere reprimique his dolorum"
        >
          <img
            alt=""
            class="object-cover w-full h-52 dark:bg-gray-500"
            [src]="d.image"
            style="max-width: 200px"
          />
        </a>
        <div class="flex flex-col flex-1 p-6">
          <a
            rel="noopener noreferrer"
            href="#"
            aria-label="Te nulla oportere reprimique his dolorum"
          ></a>
          <a
            rel="noopener noreferrer"
            href="#"
            class="text-xs tracking-wider uppercase hover:underline dark:text-violet-600"
            >{{ d.category }}</a
          >
          <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
            {{ d.title }}
          </h3>
          <div
            class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-600"
          >
            <span class="w-40 truncate">{{ d.description }}</span>
            <span>${{ d.price }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>


<!-- Blogs -->
<div class="dark:text-gray-900">
  <div class="container grid grid-cols-12 mx-auto dark:bg-gray-50">
    <div
      class="bg-no-repeat bg-cover dark:bg-gray-300 col-span-full lg:col-span-4"
      style="
        background-image: url('https://source.unsplash.com/random/640x480');
        background-position: center center;
        background-blend-mode: multiply;
        background-size: cover;
      "
    ></div>
    <div
      class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10"
    >
      <div class="flex justify-start">
        <span
          class="px-2 py-1 text-xs rounded-full dark:bg-violet-600 dark:text-gray-50"
          >Label</span
        >
      </div>
      <h1 class="text-3xl font-semibold">Lorem ipsum dolor sit.</h1>
      <p class="flex-1 pt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
        reprehenderit adipisci tempore voluptas laborum quod.
      </p>
      <a
        rel="noopener noreferrer"
        href="#"
        class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm dark:text-violet-600"
      >
        <span>Read more</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <div class="flex items-center justify-between pt-2">
        <div class="flex space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 dark:text-gray-600"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="self-center text-sm">by Leroy Jenkins</span>
        </div>
        <span class="text-xs">3 min read</span>
      </div>
    </div>
  </div>
</div>
<div class="dark:bg-gray-100 dark:text-gray-900 mt-20">
  <div class="container grid grid-cols-12 mx-auto dark:bg-gray-50">
    <div
      class="bg-no-repeat bg-cover dark:bg-gray-300 col-span-full lg:col-span-4"
      style="
        background-image: url('https://source.unsplash.com/random/640x480');
        background-position: center center;
        background-blend-mode: multiply;
        background-size: cover;
      "
    ></div>
    <div
      class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10"
    >
      <div class="flex justify-start">
        <span
          class="px-2 py-1 text-xs rounded-full dark:bg-violet-600 dark:text-gray-50"
          >Label</span
        >
      </div>
      <h1 class="text-3xl font-semibold">Lorem ipsum dolor sit.</h1>
      <p class="flex-1 pt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
        reprehenderit adipisci tempore voluptas laborum quod.
      </p>
      <a
        rel="noopener noreferrer"
        href="#"
        class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm dark:text-violet-600"
      >
        <span>Read more</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <div class="flex items-center justify-between pt-2">
        <div class="flex space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 dark:text-gray-600"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="self-center text-sm">by Leroy Jenkins</span>
        </div>
        <span class="text-xs">3 min read</span>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
<div class="p-4 mt-20 py-8 dark:bg-violet-600 dark:text-gray-50">
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      <h2 class="text-center text-4xl tracking-tighter font-bold">
        Up to <br class="sm:hidden" />50% Off
      </h2>
      <div class="space-x-2 text-center py-1 lg:py-0">
        <span>Plus free shipping! Use code:</span>
        <span class="font-bold text-md">MAMBA</span>
      </div>
      <a
        href="#"
        rel="noreferrer noopener"
        class="px-4 mt-3 lg:mt-0 py-2 rounded-md border block dark:bg-gray-900 dark:text-gray-50 dark:border-gray-600"
        >Shop Now</a
      >
    </div>
  </div>
</div>
